################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs


# Dev setting
**/appsettings.*.json
!**/appsettings.json
!**/appsettings.Example.json
